.header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin: 45px auto 40px;
  max-width: 880px;
}
.header__image-vector {
  width: 173px;
  height: 33px;
  margin-bottom: 45px;
}
